@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
}
.editor-container {
  height: 90vh;
}
